spring:
  application:
    name: debil-service
  jpa:
    show-sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQL10Dialect
    generate-ddl: false
    properties:
      hibernate:
        show_sql=true:
    hibernate:
      ddl-auto: update
    open-in-view: false

  datasource:
    username: ${DB_USER:postgres}
    password: ${DB_PASS:postgres}
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/postgres
    driver-class-name: org.postgresql.Driver

server:
  port: ${PORT:8082}